#main-footer {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 767px) {
  #main-footer {
    flex-direction: column;
  }
  #main-footer #pagination {
    padding-top: 15px;
  }
}
#main-footer select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 7px 37px 7px 17px;
  color: #A3A3A3;
  cursor: pointer;
  font-weight: bolder;
  outline: none;
  background-position: center right 16px;
  background-size: 15px 11px;
  background-repeat: no-repeat;
}
#pagination {
  text-align: center;
}
#pagination ul {
  margin: 0;
  padding: 0;
}
#pagination li {
  padding: 7px;
  display: inline-block;
  cursor: pointer;
}
#pagination li.selected {
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid gray;
}
#pagination .paginate-btns {
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
}
#pagination .paginate-btns[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
