#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: white;
    padding: 15px 20px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #dadada;
    box-shadow: 0px 0px 15px -3px #a8a8a8;

    @media screen and (max-width: 767px) {
        flex-direction: column;

        #main-search {
            padding-top: 15px;
        }
    }

    #main-logo {
        flex: 2;
    }
    
    #main-search {
        flex: 1;

        form {
            display: flex;
            position: relative;
        }
    
        input[type='text'] {
            flex: 1;
            border-radius: 20px;
            background: white;
            border: 1px solid #D2d2d2;
            color: #D2d2d2;
            padding: 5px 20px 5px 40px;
            display: block;
            outline: none;
            background-image: url('../../../assets/img/search.png');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: left 18px center;
        }

        .clear-query {
            border: 0;
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            right: 12px;
            top: 8px;
            background-image: url('../../../assets/img/clear-query.png');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: center center;
            background-color: transparent;
            outline: none;
        }
    }
}

#query-param {
    min-height: 50px;
    background: #EEEDF2;
    padding: 30px 20px;
    font-size: 2.3em;
    font-weight: 200;
    border-bottom: 1px solid #F8F8F9;
    color: #433e66;
}