.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
}

#products-count {
    border-bottom: 3px solid #dfbe7f;
    text-transform: uppercase;
    color: #979797;
    font-size: 0.8em;
    display: inline-block;
    padding: 0px 0px 5px 0px;
    margin-bottom: 20px;
}

.product-item {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
    flex-wrap: nowrap;

    &:first-child {
        border-top: 1px solid #eeeeee;
    }

    .product-images {
        flex: 1;

        img {
            flex: 4;
            max-height: 60px;
            margin: 0px 5px;
        }
    }

    .product-description {
        flex: 1;

        h2 {
            margin: 0;
            color: #212121;
            font-size: 1em;
        }

        p {
            margin: 0;
            font-size: 0.8em;
            color: #828282;
        }
    }

    .product-price {
        flex: 1;

        p {
            color: #B0B0B0;
            text-align: right;
            padding-right: 15px;
        }

        .normal-price {
            text-decoration: line-through;
        }

        .sales-price {
            color: #999999;
        }
    }
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
        
        .product-description {
            padding: 15px 0px;
        }
    }
}

.empty-results {
    text-align: center;
    color: #cacaca;
}